h1,h3{
	color: #72AB00;
	padding: 0px;
	margin: 0px;
	display: inline;
}
p{
	color: #72AB00;
	padding: 0px;
	margin: 0px;
	display: inline;
}
span{
	color: #72AB00;
}

#cv{
	width: 8em; 
	height: 3em;
	background-color:#CDDC28;
}
a:hover{
	text-decoration: overline;
	color: 	#72AB00;
}
button:hover{
	color: #72AB00;
}
h4{
	text-align: right;
}
a{
	text-decoration: none;
}
table{
	text-align: left;
}